.movie-detail-card {
  display: flex;
  flex-direction: column;
}

.movie-detail-card-header {
  display: flex;
}

.movie-detail-card-header > p,
h1 {
  margin: 1rem;
  font-size: 2rem;
}

.movie-detail-image-container {
  height: 500px;
  width: 500px;
}

.movie-detail-card-body {
  display: flex;
}

.movie-detail-card-content-container {
  padding: 1rem;
}

.movie-detail-overview {
  height: 90%;
  width: 70%;
  line-height: 1.5rem;
  font-weight: 600;
}

.movie-detail-overview,
.movie-detail-cart-button {
  margin: 0 1rem;
}
