.App {
  position: relative;
  width: 90%;
  margin: auto;
  min-height: 90vh;
  padding-bottom: 6rem;
}

.page-container {
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.button {
  font-weight: 600;
  background-color: transparent;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 10%;
  cursor: pointer;
}
